/* start css reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* end css reset */

a {
    text-decoration: none;
}

a:active {
    background: white;
}

h1 {
    position: absolute;
    top: 5%;
    left: 25%;
    z-index: 1;
    padding: 2px;
    background: #e5f4dd;
    border: 1px solid black;
    color: #000000;
    font-size: 50px;
    text-align: center;
}

article,
section {
    padding-bottom: 3%;
}

article h2 {
    font-size: 26px;
}

li {
    margin-left: 7%;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

nav {
    position: absolute;
    top: 360px;
    width: 20%;
    background: #94be1f;
}

nav a {
    display: block;
    border: 3px solid #000;
    margin: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 15%;
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

table {
    margin-top: 3%;
}

th {
    padding-right: 100px;
    text-decoration: underline;
    text-align: left;
}

form {
    margin-right: 10%;
    font-size: 18px;
}

form p {
    font-size: 14px;
}

fieldset {
    padding-left: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
    border: 1px solid #000000;
}

legend {
    margin-left: 33%;
    padding-left: 10px;
    padding-right: 10px;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.input_text {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000000;
}

.sp_ctrls {
    margin-left: 7%;
}

.boton {
    position: absolute;
    left: 35%;
    background: #52544c;
    color: #FFFFFF;
    border: 2px solid #000000;
    width: 150px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
}

.ancho_chico {
    width: 23%;
}

.ancho_mediano {
    width: 32%;
}

.ancho_medio_largo {
    width: 50%;
}

.ancho_largo {
    width: 67%;
}

.contenedor {
    position: absolute;
    top: 300px;
    width: 100%;
}

.numerica ol {
    list-style-type: decimal;
}

.normal {
    font-weight: normal;
}

.letra_chica {
    font-size: 16px;
}

.letra_muy_chica {
    font-size: 14px;
}

.negrita {
    font-weight: bold;
}

.subrrayado {
    text-decoration: underline;
}

.interlinea {
    margin-bottom: 3%;
}

.centrado {
    width: 130px;
    padding-right: 100px;
    text-align: center;
}

.ajuste {
    padding-right: 20%;
}

.primerencabezado {
    width: 130px;
    padding-right: 100px;
    text-align: left;
}

.alineados {
    display: inline-block;
}

#imagen {
    position: absolute;
    top: 0px;
    height: 300px;
    width: 100%;
    background: url("../images/design3_image1.jpg");
    background-size: 100% 100%;
}

#logo {
    position: absolute;
    top: 265px;
    left: 22%;
    z-index: 1;
    height: 100px;
    width: 100px;
}

#titulo {
    width: 100%;
    border: 2px solid;
    background: #94be1f;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

#contenido {
    position: absolute;
    top: 40px;
    left: 20%;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 10%;
    font-size: 21px;
}

#oculto {
    display: none;
}

#oculto1 {
    display: none;
}

#tabla3 {
    border-collapse: separate;
    border-spacing: 0px 30px;
    margin-top: 6%;
    margin-bottom: 6%;
}

#tabla4 {
    border-collapse: separate;
    border-spacing: 0px 15px;
}

#tabla3 th {
    text-decoration: none;
}

#tabla3 td {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    vertical-align: middle;
    text-align: center;
}

#tabla4 th {
    text-decoration: none;
}

#tabla4 td {
    width: 500px;
}

#lista h3 {
    font-weight: normal;
    margin-left: 9%;
    margin-bottom: 3%;
}

#lista h4 {
    font-weight: bold;
}

#lista p {
    margin-left: 2%;
}

#interlineado li {
    margin-bottom: 3%;
    font-weight: bold;
}

#circulo ul {
    list-style-type: circle;
}

#interlineado .numerica ol li .alfabetica ol {
    list-style-type: lower-alpha;
}

#interlineado .numerica ol li .alfabetica li {
    margin-bottom: 0%;
    font-weight: normal;
}

#interlineado .numerica ol li .alfabetica p {
    margin-left: 2%;
}